<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Credmarg</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/employees">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/vendors">Vendors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/send-email">Send Email</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/view-emails">View Emails</a>
        </li>
      </ul>
    </div>
    <div>
      <div class="right">
        <form *ngIf="!loggedIn" class="d-flex" (submit)="login()">
          <input type="text" id="username" [(ngModel)]="newLogin.username" name="username" class="form-control me-2" placeholder="Username" required>
          <input type="password" id="password" [(ngModel)]="newLogin.password" name="password" class="form-control me-2" placeholder="Password" required>
          <button class="btn btn-primary" type="submit">Login</button>
        </form>        
        <span *ngIf="loggedIn" class="text-white">Welcome, {{ username }}!</span>
        <button *ngIf="loggedIn" class="btn btn-danger mx-1" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</nav>
<h1 *ngIf="!loggedIn" class="text-center">Welcome to Credmarg</h1>
<p class="text-center">username:<b>admin</b> password:<b>admin</b></p>
<router-outlet></router-outlet>